html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  background-color: #555;
}
.hidden {
  display: none !important;
}
.ctrls {
  position: absolute;
  background-color: rgba(85, 85, 85, 0.5);
}
.ctrl {
  position: relative;
}
label {
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.right {
  top: 0;
  right: 0;
  height: 100%;
}
.right .switch {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 25px 0 25px 42px;
}
.right .switch .label {
  padding: 3px 0 0 10px;
}
.right .sliders {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 20px 0 20px;
}
.right .sliders .ctrl {
  position: relative;
  display: flex;
  flex-direction: column;
}
.right .sliders .ctrl .label {
  width: 80px;
  height: 250px;
}
.right .sliders label {
  margin-top: 60px;
  transform: rotate(90deg);
}
.right .sliders .ctrl .input {
  display: block;
  text-align: center;
}
input[type=range] {
  direction: rtl;
  writing-mode: vertical-lr;
  height: calc(100% - 250px);
}
.top {
  top: 0;
  left: 0;
  padding: 25px 60px 20px 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.top > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 10px;
}
.top .label {
  padding: 3px 0 0 10px;
}
input[type=checkbox] {
  -webkit-appearance: none;
  position: relative;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;
}
input[type=checkbox]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: rgb(255, 255, 255);
  transition: left .3s;
}
input[type=checkbox]:checked {
  background-color: rgb(141, 221, 141);
}
input[type=checkbox]:checked::after {
  left: 70%;
}

#imgs {
  position: relative;
  margin: auto;
  width: 100%;
}
img {
  display: block;
  position: absolute;
  width: 100%;
}
.zoomable {
  transform-origin: center center;
  transition: transform 0.05s ease-out;
  touch-action: none;
}

label {
  font-weight: bold;
  font-size: 20pt;
}
input[type=checkbox] {
  width: 50px;
  height: 30px;
}
input[type=checkbox]::after {
  height: 1.25rem;
  width: 1.25rem;
}

@media screen and (width < 1000px) {
  label {
    font-weight: bold;
    font-size: 12pt;
  }
  input[type=checkbox] {
    width: 37px;
    height: 20px;
  }
  .top {
    padding: 25px 30px 15px 25px;
  }
  .right .switch {
    padding-left: 25px;
  }
  .right .sliders label {
    margin-top: 30px;
  }
  .right .sliders .ctrl .label {
    width: 40px;
    height: 40px;
  }
  input[type=range] {
    height: calc(100% - 160px);
  }
}
